<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间指向DAO接口-->
<mapper namespace="com.emiyez.springboot01.mapper.UserMapper">
    <select id="find_User_Addr_list" resultType="SmbmsUser">
        SELECT * FROM
            test1.smbms_user u left join test1.smbms_address a
                on u.id=a.userId
    </select>

</mapper>